In [23]:
import zipfile

In [24]:
import pandas as pd

In [25]:
import os
os.getcwd()

'/Users/mohitsinghal/opioid-risk-forecasting/notebooks'

In [26]:
zip_path = "../data/OpioidPrescribingRates_Geography.zip"
zip_path_1 = "../data/OpioidPrescribingRates_Geography_Drug.zip"

In [27]:
zip_path_2 = "../data/OpioidPrescribers_Provider.zip"

In [28]:
extract_path = "../data/cms/"

In [29]:
os.makedirs(extract_path, exist_ok=True)

In [30]:
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

In [31]:
with zipfile.ZipFile(zip_path_1, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

In [32]:
with zipfile.ZipFile(zip_path_2, 'r') as zip_ref:
    print("Files inside ZIP:")
    print(zip_ref.namelist())

Files inside ZIP:
['Medicare Part D Prescribers - by Provider/', 'Medicare Part D Prescribers - by Provider/2015/', 'Medicare Part D Prescribers - by Provider/2015/MUP_DPR_RY25_P04_V10_DY15_NPI.csv', 'Medicare Part D Prescribers - by Provider/2015/MUP_DPR_RY25_20250401_Methodology_508.pdf', 'Medicare Part D Prescribers - by Provider/2015/MUP_DPR_RY24_P06_V10_DYT22_HLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2015/MUP_DPR_RY25_20250401_DD_PRV_508.pdf', 'Medicare Part D Prescribers - by Provider/2015/MUP_DPR_RY24_P06_V10_DYT22_DLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2020/', 'Medicare Part D Prescribers - by Provider/2020/MUP_DPR_RY25_20250401_Methodology_508.pdf', 'Medicare Part D Prescribers - by Provider/2020/MUP_DPR_RY24_P06_V10_DYT22_HLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2020/MUP_DPR_RY25_20250401_DD_PRV_508.pdf', 'Medicare Part D Prescribers - by Provider/2020/MUP_DPR_RY24_P06_V10_DYT22_DLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2020/MUP_DPR_RY25_P04_V10_DY20_NPI.csv', 'Medicare Part D Prescribers - by Provider/2019/', 'Medicare Part D Prescribers - by Provider/2019/MUP_DPR_RY25_20250401_Methodology_508.pdf', 'Medicare Part D Prescribers - by Provider/2019/MUP_DPR_RY24_P06_V10_DYT22_HLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2019/MUP_DPR_RY25_20250401_DD_PRV_508.pdf', 'Medicare Part D Prescribers - by Provider/2019/MUP_DPR_RY24_P06_V10_DYT22_DLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2019/MUP_DPR_RY25_P04_V10_DY19_NPI.csv', 'Medicare Part D Prescribers - by Provider/2017/', 'Medicare Part D Prescribers - by Provider/2017/MUP_DPR_RY25_P04_V10_DY17_NPI.csv', 'Medicare Part D Prescribers - by Provider/2017/MUP_DPR_RY25_20250401_Methodology_508.pdf', 'Medicare Part D Prescribers - by Provider/2017/MUP_DPR_RY24_P06_V10_DYT22_HLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2017/MUP_DPR_RY25_20250401_DD_PRV_508.pdf', 'Medicare Part D Prescribers - by Provider/2017/MUP_DPR_RY24_P06_V10_DYT22_DLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2022/', 'Medicare Part D Prescribers - by Provider/2022/MUP_DPR_RY25_P04_V10_DY22_NPI.csv', 'Medicare Part D Prescribers - by Provider/2022/MUP_DPR_RY25_20250401_Methodology_508.pdf', 'Medicare Part D Prescribers - by Provider/2022/MUP_DPR_RY24_P06_V10_DYT22_HLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2022/MUP_DPR_RY25_20250401_DD_PRV_508.pdf', 'Medicare Part D Prescribers - by Provider/2022/MUP_DPR_RY24_P06_V10_DYT22_DLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2013/', 'Medicare Part D Prescribers - by Provider/2013/MUP_DPR_RY25_P04_V10_DY13_NPI.csv', 'Medicare Part D Prescribers - by Provider/2013/MUP_DPR_RY25_20250401_Methodology_508.pdf', 'Medicare Part D Prescribers - by Provider/2013/MUP_DPR_RY24_P06_V10_DYT22_HLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2013/MUP_DPR_RY25_20250401_DD_PRV_508.pdf', 'Medicare Part D Prescribers - by Provider/2013/MUP_DPR_RY24_P06_V10_DYT22_DLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2016/', 'Medicare Part D Prescribers - by Provider/2016/MUP_DPR_RY25_P04_V10_DY16_NPI.csv', 'Medicare Part D Prescribers - by Provider/2016/MUP_DPR_RY25_20250401_Methodology_508.pdf', 'Medicare Part D Prescribers - by Provider/2016/MUP_DPR_RY24_P06_V10_DYT22_HLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2016/MUP_DPR_RY25_20250401_DD_PRV_508.pdf', 'Medicare Part D Prescribers - by Provider/2016/MUP_DPR_RY24_P06_V10_DYT22_DLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2021/', 'Medicare Part D Prescribers - by Provider/2021/MUP_DPR_RY25_P04_V10_DY21_NPI.csv', 'Medicare Part D Prescribers - by Provider/2021/MUP_DPR_RY25_20250401_Methodology_508.pdf', 'Medicare Part D Prescribers - by Provider/2021/MUP_DPR_RY24_P06_V10_DYT22_HLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2021/MUP_DPR_RY25_20250401_DD_PRV_508.pdf', 'Medicare Part D Prescribers - by Provider/2021/MUP_DPR_RY24_P06_V10_DYT22_DLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2018/', 'Medicare Part D Prescribers - by Provider/2018/MUP_DPR_RY25_P04_V10_DY18_NPI.csv', 'Medicare Part D Prescribers - by Provider/2018/MUP_DPR_RY25_20250401_Methodology_508.pdf', 'Medicare Part D Prescribers - by Provider/2018/MUP_DPR_RY24_P06_V10_DYT22_HLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2018/MUP_DPR_RY25_20250401_DD_PRV_508.pdf', 'Medicare Part D Prescribers - by Provider/2018/MUP_DPR_RY24_P06_V10_DYT22_DLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2023/', 'Medicare Part D Prescribers - by Provider/2023/MUP_DPR_RY25_P05_V10_DYT23_HCCs.xlsx', 'Medicare Part D Prescribers - by Provider/2023/MUP_DPR_RY25_P04_V10_DY23_NPI.csv', 'Medicare Part D Prescribers - by Provider/2023/MUP_DPR_RY25_P06_V10_DYT23_DLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2023/MUP_DPR_RY25_P06_V10_DYT23_HLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2023/MUP_DPR_RY25_20250401_Methodology_508.pdf', 'Medicare Part D Prescribers - by Provider/2023/MUP_DPR_RY25_20250401_DD_PRV_508.pdf', 'Medicare Part D Prescribers - by Provider/2014/', 'Medicare Part D Prescribers - by Provider/2014/MUP_DPR_RY25_P04_V10_DY14_NPI.csv', 'Medicare Part D Prescribers - by Provider/2014/MUP_DPR_RY25_20250401_Methodology_508.pdf', 'Medicare Part D Prescribers - by Provider/2014/MUP_DPR_RY24_P06_V10_DYT22_HLSum.xlsx', 'Medicare Part D Prescribers - by Provider/2014/MUP_DPR_RY25_20250401_DD_PRV_508.pdf', 'Medicare Part D Prescribers - by Provider/2014/MUP_DPR_RY24_P06_V10_DYT22_DLSum.xlsx']

In [33]:
with zipfile.ZipFile(zip_path_2, 'r') as zip_ref:
    zip_ref.extractall("../data/cms/")

In [34]:
print("CMS data extracted to:", extract_path)

CMS data extracted to: ../data/cms/

In [35]:
excel_path = "../data/2024_county_health_SDOH_data.xlsx"

In [36]:
xls = pd.ExcelFile(excel_path)
print("Available sheets:", xls.sheet_names)

Available sheets: ['Introduction', 'Select Measure Data', 'Select Measure Sources & Years', 'Additional Measure Data', 'Addtl Measure Sources & Years', 'Health Outcomes & Factors']

In [37]:
df_sdh = pd.read_excel(excel_path, sheet_name="Select Measure Data")
df_sdh.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Premature Death,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 262,Unnamed: 263,Unnamed: 264,Unnamed: 265,Unnamed: 266,Long Commute - Driving Alone,Unnamed: 268,Unnamed: 269,Unnamed: 270,Unnamed: 271
0,FIPS,State,County,Unreliable,Deaths,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,National Z-Score,YPLL Rate (Hispanic (all races)),...,% Drive Alone (Hispanic) 95% CI - Low,% Drive Alone (Hispanic) 95% CI - High,% Drive Alone (White),% Drive Alone (White) 95% CI - Low,% Drive Alone (White) 95% CI - High,# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low,95% CI - High,National Z-Score
1,01000,Alabama,NaN,NaN,98140,11415.734833,11307.652847,11523.816818,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2183677,35.2,34.770402,35.629598,NaN
2,01001,Alabama,Autauga,NaN,942,9407.948438,8508.88015,10307.016727,-0.158592,NaN,...,NaN,NaN,80.846691,75.707887,85.985495,27031,42.9,37.580831,48.219169,0.770216
3,01003,Alabama,Baldwin,NaN,3789,8981.575353,8514.700923,9448.449784,-0.282176,4784.741236,...,52.360312,72.248027,80.137935,78.359852,81.916017,105865,37.9,35.383728,40.416272,0.375235
4,01005,Alabama,Barbour,NaN,579,13138.848362,11474.734018,14802.962705,0.922816,NaN,...,NaN,NaN,84.432651,80.693766,88.171536,8341,36.7,30.463148,42.936852,0.280439

In [38]:
import pandas as pd
import os
import glob

# Paths
geo_dir = "../data/cms/OpioidPrescribingRates_Geography/2023/"
provider_dir = "../data/cms/OpioidPrescribers_Provider/"
drug_geo_dir = "../data/cms/OpioidPrescribers_Geography_Drug/"
sdoh_path = "../data/2024_county_health_SDOH_data.xlsx"

years = list(range(2013, 2024))  # 2013–2023

# -------------------------------
# 1. Opioid Prescribing Rates (Geography) — only 2023
# -------------------------------
geo_files = glob.glob(os.path.join(geo_dir, "*.csv"))
if len(geo_files) == 0:
    raise FileNotFoundError("No 2023 GEO prescribing file found in folder.")
df_geo = pd.read_csv(geo_files[0])
df_geo["year"] = 2023
print("df_geo shape:", df_geo.shape)

# -------------------------------
# 2. Prescribers by Provider (multi-year)
# -------------------------------
presc_dfs = []
for y in years:
    files = glob.glob(os.path.join(provider_dir, str(y), "*.csv"))
    if not files:
        print(f"[MISSING] No provider file for {y}")
        continue
    f = files[0]
    tmp = pd.read_csv(f, encoding="latin1", low_memory=False)
    tmp["year"] = y
    presc_dfs.append(tmp)
    print(f"[LOADED] Provider {y} → {tmp.shape}")
df_prescribers = pd.concat(presc_dfs, ignore_index=True)
print("df_prescribers combined shape:", df_prescribers.shape)

# -------------------------------
# 3. Prescribers by Geography & Drug (multi-year)
# -------------------------------
drug_geo_dfs = []
for y in years:
    files = glob.glob(os.path.join(drug_geo_dir, str(y), "*.csv"))
    if not files:
        print(f"[MISSING] No drug_geo file for {y}")
        continue
    f = files[0]
    tmp = pd.read_csv(f, encoding="latin1", low_memory=False)
    tmp["year"] = y
    drug_geo_dfs.append(tmp)
    print(f"[LOADED] Drug+Geo {y} → {tmp.shape}")
df_drug_geo = pd.concat(drug_geo_dfs, ignore_index=True)
print("df_drug_geo combined shape:", df_drug_geo.shape)

# -------------------------------
# 4. SDOH snapshot (2024)
# -------------------------------
df_sdh = pd.read_excel(sdoh_path, sheet_name="Select Measure Data", skiprows=1)
print("df_sdh shape:", df_sdh.shape)

# -------------------------------
# 5. Save processed
# -------------------------------
os.makedirs("../data/processed", exist_ok=True)
df_geo.to_csv("../data/processed/geo_2023.csv", index=False)
df_prescribers.to_csv("../data/processed/prescribers_2013_2023.csv", index=False)
df_drug_geo.to_csv("../data/processed/drug_geo_2013_2023.csv", index=False)
df_sdh.to_excel("../data/processed/sdoh_2024.xlsx", index=False)

print("All files ingested and saved.")

df_geo shape: (328890, 19)
[LOADED] Provider 2013 → (1049299, 85)
[LOADED] Provider 2014 → (1072978, 85)
[LOADED] Provider 2015 → (1102253, 85)
[LOADED] Provider 2016 → (1131550, 85)
[LOADED] Provider 2017 → (1162898, 85)
[LOADED] Provider 2018 → (1204935, 85)
[LOADED] Provider 2019 → (1240595, 85)
[LOADED] Provider 2020 → (1255175, 85)
[LOADED] Provider 2021 → (1287454, 85)
[LOADED] Provider 2022 → (1332309, 85)
[LOADED] Provider 2023 → (1380665, 85)
df_prescribers combined shape: (13220111, 87)
[LOADED] Drug+Geo 2013 → (106757, 23)
[LOADED] Drug+Geo 2014 → (107432, 23)
[LOADED] Drug+Geo 2015 → (109032, 23)
[LOADED] Drug+Geo 2016 → (109640, 23)
[LOADED] Drug+Geo 2017 → (110802, 23)
[LOADED] Drug+Geo 2018 → (113607, 23)
[LOADED] Drug+Geo 2019 → (114645, 23)
[LOADED] Drug+Geo 2020 → (115410, 23)
[LOADED] Drug+Geo 2021 → (114891, 23)
[LOADED] Drug+Geo 2022 → (115396, 23)
[LOADED] Drug+Geo 2023 → (115936, 23)
df_drug_geo combined shape: (1233548, 23)
df_sdh shape: (3201, 272)
All files ingested and saved.

In [40]:
cms_geo_path = "../data/processed/geo_2023.csv"
print("File exists?", os.path.exists(cms_geo_path))
print("File size (bytes):", os.path.getsize(cms_geo_path))

File exists? True
File size (bytes): 37139784

In [41]:
cms_geo_path = "../data/processed/geo_2023.csv"
cms_provider_path = "../data/processed/prescribers_2013_2023.csv"
cms_drug_geo_path = "../data/processed/drug_geo_2013_2023.csv"
sdoh_path = "../data/processed/sdoh_2024.csv"

In [42]:
df_geo = pd.read_csv(cms_geo_path)

In [43]:
df_prescribers = pd.read_csv(cms_provider_path)

/var/folders/3p/l7x9nvb10398yg6vv8kxpstr0000gn/T/ipykernel_60422/3323025827.py:1: DtypeWarning: Columns (16,86) have mixed types. Specify dtype option on import or set low_memory=False.
  df_prescribers = pd.read_csv(cms_provider_path)

In [44]:
df_drug_geo = pd.read_csv(cms_drug_geo_path)

/var/folders/3p/l7x9nvb10398yg6vv8kxpstr0000gn/T/ipykernel_60422/839997316.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_drug_geo = pd.read_csv(cms_drug_geo_path)

In [45]:
df_sdh = pd.read_csv(sdoh_path, sheet_name="Select Measure Data")

TypeError: read_csv() got an unexpected keyword argument 'sheet_name'

In [ ]:
print("CMS Geographic Prescribing Data:")
print(df_geo.shape)
print(df_geo.columns)
df_geo.head()

In [25]:
print("\nCMS Prescribers by Geography and Drug:")
print(df_drug_geo.shape)
print(df_drug_geo.columns)
df_drug_geo.head()

CMS Prescribers by Geography and Drug:
(115936, 22)
Index(['Prscrbr_Geo_Lvl', 'Prscrbr_Geo_Cd', 'Prscrbr_Geo_Desc', 'Brnd_Name',
       'Gnrc_Name', 'Tot_Prscrbrs', 'Tot_Clms', 'Tot_30day_Fills',
       'Tot_Drug_Cst', 'Tot_Benes', 'GE65_Sprsn_Flag', 'GE65_Tot_Clms',
       'GE65_Tot_30day_Fills', 'GE65_Tot_Drug_Cst', 'GE65_Bene_Sprsn_Flag',
       'GE65_Tot_Benes', 'LIS_Bene_Cst_Shr', 'NonLIS_Bene_Cst_Shr',
       'Opioid_Drug_Flag', 'Opioid_LA_Drug_Flag', 'Antbtc_Drug_Flag',
       'Antpsyct_Drug_Flag'],
      dtype='object')

,Prscrbr_Geo_Lvl,Prscrbr_Geo_Cd,Prscrbr_Geo_Desc,Brnd_Name,Gnrc_Name,Tot_Prscrbrs,Tot_Clms,Tot_30day_Fills,Tot_Drug_Cst,Tot_Benes,...,GE65_Tot_30day_Fills,GE65_Tot_Drug_Cst,GE65_Bene_Sprsn_Flag,GE65_Tot_Benes,LIS_Bene_Cst_Shr,NonLIS_Bene_Cst_Shr,Opioid_Drug_Flag,Opioid_LA_Drug_Flag,Antbtc_Drug_Flag,Antpsyct_Drug_Flag
0,National,NaN,National,1st Tier Unifine Pentips,"Pen Needle, Diabetic",691,1613,2874.2,44355.04,699.0,...,2375.6,35803.14,NaN,565.0,992.77,7093.55,N,N,N,N
1,National,NaN,National,1st Tier Unifine Pentips Plus,"Pen Needle, Diabetic",1167,3269,5592.0,97951.18,1267.0,...,4545.0,76544.14,NaN,1035.0,1899.59,10392.03,N,N,N,N
2,National,NaN,National,Abacavir,Abacavir Sulfate,2617,19634,25152.1,5290175.88,2807.0,...,15353.6,3042569.00,NaN,1662.0,10643.29,152140.95,N,N,N,N
3,National,NaN,National,Abacavir-Lamivudine,Abacavir Sulfate/Lamivudine,2329,20191,27901.0,9981620.25,2890.0,...,18282.9,6206789.76,NaN,1877.0,14925.90,360305.92,N,N,N,N
4,National,NaN,National,Abilify,Aripiprazole,2111,12096,15928.9,11867897.88,1734.0,...,4897.1,3318969.72,NaN,578.0,25007.42,178277.87,N,N,N,Y

In [ ]:
print("\nCMS Prescribers by Provider:")
print(df_prescribers.shape)
print(df_prescribers.columns)
df_prescribers.head()

In [46]:
print("\nCounty Health Rankings SDOH:")
print(df_sdh.shape)
print(df_sdh.columns)
df_sdh.head()

County Health Rankings SDOH:
(3201, 272)
Index(['FIPS', 'State', 'County', 'Unreliable', 'Deaths',
       'Years of Potential Life Lost Rate', '95% CI - Low', '95% CI - High',
       'National Z-Score', 'YPLL Rate (Hispanic (all races))',
       ...
       '% Drive Alone (Hispanic) 95% CI - Low',
       '% Drive Alone (Hispanic) 95% CI - High', '% Drive Alone (White)',
       '% Drive Alone (White) 95% CI - Low',
       '% Drive Alone (White) 95% CI - High', '# Workers who Drive Alone',
       '% Long Commute - Drives Alone', '95% CI - Low.19', '95% CI - High.19',
       'National Z-Score.33'],
      dtype='object', length=272)

,FIPS,State,County,Unreliable,Deaths,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,National Z-Score,YPLL Rate (Hispanic (all races)),...,% Drive Alone (Hispanic) 95% CI - Low,% Drive Alone (Hispanic) 95% CI - High,% Drive Alone (White),% Drive Alone (White) 95% CI - Low,% Drive Alone (White) 95% CI - High,# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.19,95% CI - High.19,National Z-Score.33
0,1000,Alabama,NaN,NaN,98140.0,11415.734833,11307.652847,11523.816818,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2183677.0,35.2,34.770402,35.629598,NaN
1,1001,Alabama,Autauga,NaN,942.0,9407.948438,8508.880150,10307.016727,-0.158592,NaN,...,NaN,NaN,80.846691,75.707887,85.985495,27031.0,42.9,37.580831,48.219169,0.770216
2,1003,Alabama,Baldwin,NaN,3789.0,8981.575353,8514.700923,9448.449784,-0.282176,4784.741236,...,52.360312,72.248027,80.137935,78.359852,81.916017,105865.0,37.9,35.383728,40.416272,0.375235
3,1005,Alabama,Barbour,NaN,579.0,13138.848362,11474.734018,14802.962705,0.922816,NaN,...,NaN,NaN,84.432651,80.693766,88.171536,8341.0,36.7,30.463148,42.936852,0.280439
4,1007,Alabama,Bibb,NaN,501.0,12675.434581,10964.290135,14386.579028,0.788495,NaN,...,NaN,NaN,NaN,NaN,NaN,8064.0,53.8,45.204744,62.395256,1.631275

In [47]:
#Standardize column names
for df in [df_geo, df_prescribers, df_drug_geo, df_sdh]:
    df.columns = (df.columns.str.lower()
                   .str.strip().str.replace(" ", "_")
                   .str.replace("-", "_")
                   .str.replace("%", "pct")
                   .str.replace("r[()]", " ", regex=True)
                   .str.replace("_ _", "_"))

In [48]:
#Cleaned raw copies
display(df_geo.head(3));display(df_prescribers.head(3));display(df_drug_geo.head(3));display(df_sdh.head(3))
df_geo.to_csv("../data/cleaned/geo_2023.csv",index=False)
df_prescribers.to_csv("../data/cleaned/prescribers_2023.csv",index=False)
df_drug_geo.to_csv("../data/cleaned/drug_geo_2023.csv",index=False)
df_sdh.to_csv("../data/cleaned/sdoh_2024.",index=False)

,year,prscrbr_geo_lvl,prscrbr_geo_cd,prscrbr_geo_desc,ruca_cd,breakout_type,breakout,tot_prscrbrs,tot_opioid_prscrbrs,tot_opioid_clms,tot_clms,opioid_prscrbng_rate,opioid_prscrbng_rate_5y_chg,opioid_prscrbng_rate_1y_chg,la_tot_opioid_clms,la_opioid_prscrbng_rate,la_opioid_prscrbng_rate_5y_chg,la_opioid_prscrbng_rate_1y_chg,year
0,2023,National,NaN,National,NaN,Totals,Overall,1379131.0,796960.0,59311234.0,1.614516e+09,3.67,-1.01,-0.21,5266348.0,8.88,-2.91,-0.49,2023
1,2023,National,NaN,National,NaN,Rural/Urban,Rural,150022.0,96471.0,10433987.0,2.765332e+08,3.77,-1.04,-0.20,859739.0,8.24,-2.81,-0.47,2023
2,2023,National,NaN,National,NaN,Rural/Urban,Urban,1228080.0,699913.0,48835671.0,1.337145e+09,3.65,-1.01,-0.21,5063859.0,10.37,-2.70,-0.46,2023

,prscrbr_npi,prscrbr_last_org_name,prscrbr_first_name,prscrbr_mi,prscrbr_crdntls,prscrbr_ent_cd,prscrbr_st1,prscrbr_st2,prscrbr_city,prscrbr_state_abrvtn,...,bene_race_api_cnt,bene_race_hspnc_cnt,bene_race_natind_cnt,bene_race_othr_cnt,bene_dual_cnt,bene_ndual_cnt,bene_avg_risk_scre,year,prscrbr_npi,prscrbr_type_src
0,1.003000e+09,Enkeshafi,Ardalan,NaN,M.D.,I,900 Seton Dr,NaN,Cumberland,MD,...,NaN,0.0,0.0,NaN,54.0,79.0,2.340462,2013,NaN,NaN
1,1.003000e+09,Khalil,Rashid,NaN,M.D.,I,4126 N Holland Sylvania Rd,Suite 220,Toledo,OH,...,NaN,NaN,0.0,NaN,48.0,53.0,1.607022,2013,NaN,NaN
2,1.003000e+09,Escobar,Julio,E,DDS,I,5 Pine Cone Rd,NaN,Dayton,NV,...,0.0,NaN,0.0,0.0,NaN,NaN,0.980248,2013,NaN,NaN

,prscrbr_geo_lvl,prscrbr_geo_cd,prscrbr_geo_desc,brnd_name,gnrc_name,tot_prscrbrs,tot_clms,tot_30day_fills,tot_drug_cst,tot_benes,...,ge65_tot_drug_cst,ge65_bene_sprsn_flag,ge65_tot_benes,lis_bene_cst_shr,nonlis_bene_cst_shr,opioid_drug_flag,opioid_la_drug_flag,antbtc_drug_flag,antpsyct_drug_flag,year
0,National,NaN,National,1st Tier Unifine Pentips,"Needles, Insulin Disposable",1343,4412,6375.6,95296.72,1632.0,...,68596.8,NaN,1166.0,4774.5,29593.22,N,N,N,N,2013
1,National,NaN,National,8-Mop,Methoxsalen,4,14,14.0,19590.75,NaN,...,NaN,*,NaN,0.0,97.00,N,N,N,N,2013
2,National,NaN,National,A-Hydrocort,Hydrocortisone Sod Succinate,6,14,14.0,128.48,NaN,...,NaN,*,NaN,2.3,33.56,N,N,N,N,2013

,fips,state,county,unreliable,deaths,years_of_potential_life_lost_rate,95pct_ci___low,95pct_ci___high,national_z_score,ypll_rate_(hispanic_(all_races)),...,pct_drive_alone_(hispanic)_95pct_ci___low,pct_drive_alone_(hispanic)_95pct_ci___high,pct_drive_alone_(white),pct_drive_alone_(white)_95pct_ci___low,pct_drive_alone_(white)_95pct_ci___high,#_workers_who_drive_alone,pct_long_commute___drives_alone,95pct_ci___low.19,95pct_ci___high.19,national_z_score.33
0,1000,Alabama,NaN,NaN,98140.0,11415.734833,11307.652847,11523.816818,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2183677.0,35.2,34.770402,35.629598,NaN
1,1001,Alabama,Autauga,NaN,942.0,9407.948438,8508.880150,10307.016727,-0.158592,NaN,...,NaN,NaN,80.846691,75.707887,85.985495,27031.0,42.9,37.580831,48.219169,0.770216
2,1003,Alabama,Baldwin,NaN,3789.0,8981.575353,8514.700923,9448.449784,-0.282176,4784.741236,...,52.360312,72.248027,80.137935,78.359852,81.916017,105865.0,37.9,35.383728,40.416272,0.375235